<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92780198085-43vtus40q5ucuabrvst6a4o197qsjkg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92780198085-43vtus40q5ucuabrvst6a4o197qsjkg3</string>
	<key>API_KEY</key>
	<string>AIzaSyAqstQviyPl38tefUlQX6OsYV49BdssptI</string>
	<key>GCM_SENDER_ID</key>
	<string>92780198085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smart.smarthome.dev</string>
	<key>PROJECT_ID</key>
	<string>smarthomefinal-b925f</string>
	<key>STORAGE_BUCKET</key>
	<string>smarthomefinal-b925f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92780198085:ios:b6db659f48396d6bbf98ac</string>
	<key>DATABASE_URL</key>
	<string>https://smarthomefinal-b925f-default-rtdb.firebaseio.com</string>
</dict>
</plist>